# 6. 데이터 탐색하기
---

In [1]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

### DataFrame 확인

**describe()**
- 기술 통계 정보를 요약해서 보여주는 기능
- 옵션없이 실행했을때, 기본적으로 계산가능한 컬럼들에 대해 통계를 계산해준다.

> 기본사용시
> - count: NaN (결측치)를 제외한 데이터 개수
> - mean: 평균값
> - std: 표준편차 (데이터가 얼마나 흩어져 있는지)
> - min: 최솟값
> - 25%: 1사분위수 (하위 25% 지점의 값)
> - 50%: 2사분위수 (중앙값, median과 동일)
> - 75%: 3사분위수 (하위 75% 지점의 값)
> - max: 최댓값

In [2]:
# 데이터를 처음 받았을때 각 열이 어떤 값들로 이루어져있는지, 데이터 분포는 어떤지 빠르게 익히는데 도움됨됨
df.describe()

              나이  최근1년_방문빈도   평균구매액(만원)   고객만족도(점)   재구매의사(점)
count   8.000000   8.000000    8.000000   8.000000   8.000000
mean   31.875000  85.375000   93.750000  86.375000  88.000000
std     4.421942  10.169106   19.983922   7.110103   5.451081
min    27.000000  68.000000   65.000000  77.000000  79.000000
25%    28.750000  80.250000   83.500000  81.000000  84.500000
50%    30.500000  86.500000   93.500000  86.500000  89.000000
75%    35.000000  92.750000  106.250000  91.750000  91.250000
max    40.000000  98.000000  125.000000  96.000000  96.000000

**info()**

- 데이터프레임의 전체적인 구조와 각 컬럼의 정보를 요약해서 보여준다.
- 데이터 분석 시작 전, 결측치(Missing Data) 확인이나 데이터 타입(Dtype) 확인을 위해 많이 사용한다.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, C001 to C008
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   고객명        8 non-null      object
 1   나이         8 non-null      int64
 2   거주도시       8 non-null      object
 3   주요관심사      6 non-null      object
 4   최근1년_방문빈도  8 non-null      int64
 5   평균구매액(만원)  8 non-null      int64
 6   고객만족도(점)   8 non-null      int64
 7   재구매의사(점)   8 non-null      int64
dtypes: int64(5), object(3)
memory usage: 576.0+ bytes

In [3]:
df.head() # 처음 5개의 row를 가져옴

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79

In [5]:
df.head(7) # 처음 7개의 row를 가져옴

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83

In [6]:
df.tail() # 마지막 5개의 row를 가져옴

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

In [7]:
df.values # 데이터에 들어있는 값들 확인

array([['박태근', 35, '시흥', 'Electronics', 75, 70, 78, 92],
       ['이영희', 30, '안양', 'fashion', 85, 92, 88, 85],
       ['박지성', 35, '울산', nan, 95, 110, 91, 88],
       ['최민아', 40, '창원', 'Fashion', 92, 105, 82, 96],
       ['정수빈', 28, '구로', 'Fashion', 82, 88, 94, 79],
       ['윤태영', 27, '시흥', 'Electronics', 88, 95, 85, 91],
       ['한유진', 31, '파주', nan, 68, 65, 77, 83],
       ['강민호', 29, '일산', 'Sports', 98, 125, 96, 90]], dtype=object)

In [8]:
df.index # 인덱스 정보 확인

Index(['C001', 'C002', 'C003', 'C004', 'C005', 'C006', 'C007', 'C008'], dtype='object', name='고객ID')

In [9]:
df.columns # 컬럼 정보 확인

Index(['고객명', '나이', '거주도시', '주요관심사', '최근1년_방문빈도', '평균구매액(만원)', '고객만족도(점)',
       '재구매의사(점)'],
      dtype='object')

In [10]:
df.shape # row, column 갯수 확인

(8, 8)

### Series 확인

In [11]:
df['평균구매액(만원)'].describe()

count      8.000000
mean      93.750000
std       19.983922
min       65.000000
25%       83.500000
50%       93.500000
75%      106.250000
max      125.000000
Name: 평균구매액(만원), dtype: float64

In [12]:
df['평균구매액(만원)'].max()

np.int64(125)

In [13]:
df['평균구매액(만원)'].nlargest(3) # 평균구매액 높은 순서대로 3명 데이터

고객ID
C008    125
C003    110
C004    105
Name: 평균구매액(만원), dtype: int64

In [14]:
df['평균구매액(만원)'].mean() # 평균구매액 평균

np.float64(93.75)

In [15]:
df['평균구매액(만원)'].sum() # 평균구매액 합계

np.int64(750)

In [16]:
df['주요관심사'].count() # 주요관심사 데이터 개수

np.int64(6)

In [17]:
df['주요관심사'].unique() # 주요관심사 종류 확인

array(['Electronics', 'fashion', nan, 'Fashion', 'Sports'], dtype=object)