# 9. 조건에 따른 데이터 선택
---
- 데이터프레임에서 특정 조건(참/거짓)을 만족하는 행들만 골라내는 기능 (필터기능)

In [9]:
import pandas as pd
df = pd.read_csv('data/customers3.csv', index_col='고객ID')
df

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92
C002  이영희  30   안양      fashion         85         92        88        85
C003  박지성  35   울산          NaN         95        110        91        88
C004  최민아  40   창원      Fashion         92        105        82        96
C005  정수빈  28   구로      Fashion         82         88        94        79
C006  윤태영  27   시흥  Electronics         88         95        85        91
C007  한유진  31   파주          NaN         68         65        77        83
C008  강민호  29   일산       Sports         98        125        96        90

- 고객중 나이가 30세 이상인 고객

In [ ]:
filter = df ['나이'] >= 30 # bool 형태로 되어있는 시리즈가 필터
df[filter]

- True에 해당하는 데이터들만 조회 할 수도 있다.

- 필터를 반전시킬 수 있다.

In [ ]:
~filter

loc와 응용해서 사용하기
- 보통 조건에 따라 원하는 데이터들만 보기위해 많이 사용한다.

Quiz
- 평균구매액(만원)이 100만원 이상인 사람들의 고객명과 나이를 조회해보자

In [10]:
filter = df['평균구매액(만원)'] >= 100

df.loc[filter, ['나이', '고객명', '평균구매액(만원)']]

      나이  고객명  평균구매액(만원)
고객ID
C003  35  박지성        110
C004  40  최민아        105
C008  29  강민호        125

## 다양한 문법을 활용한 조건 설정

**& 엔드 조건**
- 평균구매액이 90만원 이하 이고 재구매의사(점)이이 85 이상인 고객 데이터(전부)조회하기

In [11]:
filter = (df['평균구매액(만원)']<=90) & (df['재구매의사(점)']>=85)

df.loc[filter]

      고객명  나이 거주도시        주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C001  박태근  35   시흥  Electronics         75         70        78        92

**| or 조건**
- 나이가 25살 미만이거나 35이상인 고객 데이터를 조회하기

In [17]:
filter = (df['나이'] < 25) | (df['나이'] > 35)

df.loc[filter]

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C004  최민아  40   창원  Fashion         92        105        82        96

**String 함수**

**startwith()**
- 문자열이 특정 글자로 시작하는지 확인하는 메서드 (특정글자로 시작하면 True 아니면 False)

In [18]:
filter = df ['고객명'].str.startswith('최')

**isin()**
- 각 데이터가 특정 값 목록(리스트)에 포함되어 있는지 확인하는 메서드

In [24]:
interests = ['fashion']


filter = df['주요관심사'].str.lower().isin(interests)

df.loc[filter]

      고객명  나이 거주도시    주요관심사  최근1년_방문빈도  평균구매액(만원)  고객만족도(점)  재구매의사(점)
고객ID
C002  이영희  30   안양  fashion         85         92        88        85
C004  최민아  40   창원  Fashion         92        105        82        96
C005  정수빈  28   구로  Fashion         82         88        94        79

**contains()**
- 문자열이 특정 글자가 포함되는지 확인하는 메서드 (특정글자로 포함되면 True 아니면 False)

In [29]:
filter = df['주요관심사'].str.contains('Sports', na = False)

filter

고객ID
C001    False
C002    False
C003    False
C004    False
C005    False
C006    False
C007    False
C008     True
Name: 주요관심사, dtype: bool

- contains()을 사용할때 주의할점
    - 만약 데이터가 NaN으로 되어있다면 문제가 발생 할 수 있다.